{# This template is used as the landing page for Generic Model Instance resource type #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        {% if workflow_input %}
            <legend>Workflow Input</legend>
            <div class="row">
                <div class="col-sm-4"><strong>Input files type</strong></div>
                <div class="col-sm-8">{{ workflow_input.inputType }}</div>
                <div class="col-sm-4"><strong>Input files description</strong></div>
                <div class="col-sm-8">{{ workflow_input.inputDescription }}</div>
            </div>
        {% endif %}
        <br>
        {% if workflow_output %}
            <legend>Workflow Output</legend>
            <div class="row">
                <div class="col-sm-4"><strong>Output files type</strong></div>
                <div class="col-sm-8">{{ workflow_output.outputType }}</div>
                <div class="col-sm-4"><strong>Output files description</strong></div>
                <div class="col-sm-8">{{ workflow_output.outputDescription }}</div>
            </div>
        {% endif %}
        <br>
        {% if irods_workflow_processors %}
            <legend>iRODS WSO Processors</legend>
            <div class="row">
                <div class="col-sm-4"><strong>Processors number</strong></div>
                <div class="col-sm-8">{{ irods_workflow_processors.irodsProcessorsNumber }}</div>
                <div class="col-sm-4"><strong>Processors type</strong></div>
                <div class="col-sm-8">{{ irods_workflow_processors.irodsProcessorsType }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Processors description</strong></div>
                <div class="col-sm-8">{{ irods_workflow_processors.irodsProcessorsDescription }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Has code repository?</strong></div>
                {% if irods_workflow_processors.has_CodeRepository %}
                    <div class="col-sm-8">Yes</div>
                {% else %}
                    <div class="col-sm-8">No</div>
                {% endif %}
                 <div class="col-sm-4"><strong>Code repository URI</strong></div>
                {% if not irods_workflow_processors.codeRepositoryURI %}
                    <div class="col-sm-8">None</div>
                {% else%}
                    <div class="col-sm-8"> <a id="permalink" href={{ irods_workflow_processors.codeRepositoryURI }}>{{ irods_workflow_processors.codeRepositoryURI }}</a></div>
                {% endif %}
            </div>
        {% endif %}
        <br>
        {% if workflow_processors.processorsNumber %}
            <legend>Workflow Processors</legend>
            <div class="row">
                <div class="col-sm-4"><strong>Processors number</strong></div>
                <div class="col-sm-8">{{ workflow_processors.processorsNumber }}</div>
                <div class="col-sm-4"><strong>Processors type</strong></div>
                <div class="col-sm-8">{{ workflow_processors.processorsType }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Processors description</strong></div>
                <div class="col-sm-8">{{ workflow_processors.processorsDescription }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Has code repository?</strong></div>
                {% if workflow_processors.has_CodeRepository %}
                    <div class="col-sm-8">Yes</div>
                {% else %}
                    <div class="col-sm-8">No</div>
                {% endif %}
                 <div class="col-sm-4"><strong>Code repository URI</strong></div>
                {% if not workflow_processors.codeRepositoryURI %}
                    <div class="col-sm-8">None</div>
                {% else%}
                    <div class="col-sm-8"> <a id="permalink" href={{ workflow_processors.codeRepositoryURI }}>{{ workflow_processors.codeRepositoryURI }}</a></div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-4"><strong>Has Docker image?</strong></div>
                {% if workflow_processors.has_DockerImage %}
                    <div class="col-sm-8">Yes</div>
                {% else %}
                    <div class="col-sm-8">No</div>
                {% endif %}
                 <div class="col-sm-4"><strong>Docker image URI</strong></div>
                {% if not workflow_processors.dockerImageURI %}
                    <div class="col-sm-8">None</div>
                {% else%}
                    <div class="col-sm-8"> <a id="permalink" href={{ workflow_processors.dockerImageURI }}>{{ workflow_processors.dockerImageURI }}</a></div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_section %}
    <div class="row">
        {% if page.perms.change and metadata_form %}
            <div class="col-sm-4">
                <a id="execute_wso" class="btn btn-success" href="/_internal/{{ cm.short_id }}/execute_wso/">Execute WSO</a>
            </div>
        {% endif %}
    </div>
{% endblock %}